#gameResult{
	overflow:scroll;
	height:250px;
}
#cardInfo{
	overflow-y:scroll;
	height:500px;
}

#opponentHeader{
	float:right;
}

/*
.tr-versus {
	border:1px solid black;
}

.td-versus {
	border:1px solid black;
}
*/
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

#opponentsCards{
	float:right;
}

#testDiv{
	border:1px solid black;
	background-color: grey;
}

#addButton {
	margin-left: 2%;
	width: 20%;
}